/* Base et init */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}

h1 {
    font-family: $txt-frauces;
    font-weight: 700;
    font-size: 1.7188rem;
    color: $clr-very-dark-blue;
}

p {
    font-family: $txt-montserra;
    color: $clr-dark-grayish-blue;

}