@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

// fonts
$txt-montserra: "Montserrat", sans-serif;
$txt-frauces: "Fraunces", serif;

// colors
$clr-dark-cyan: hsl(158, 36%, 37%);
$clr-dark-cyan2: hsl(157, 35%, 16%);
$clr-cream: hsl(30, 38%, 92%);

$clr-very-dark-blue: hsl(212, 21%, 14%);
$clr-dark-grayish-blue: hsl(228, 12%, 48%);
$clr-white: hsl(0, 0%, 100%);

